body {
    padding-top: 5rem;
}

.console-output {
    line-height: 1.25;
    padding: 15px 20px 0px 20px;
    max-height: calc(100vh / 1.5);
    overflow-y: auto;
}

.console-output-font {
    font-size: 1rem;
    font-family: monospace;
}