<!doctype html>
<html lang="en">
<head>
<base href="{{.config.BaseURL}}">
{{ template "tmp_head.html" }}
</head>
<body>
{{ template "tmp_navi.html" . }}

<main role="main">
    <div class="container">
        <p>
        <form id="dataForm" action="cleanup/">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="prune" value="true" id="prune">
                    <label class="form-check-label" for="prune">
                        Docker system prune on worker nodes
                    </label>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label for="chart">Remove images in Chart on worker nodes</label>
                <input type="file" class="form-control" name="files" multiple>
            </div>

            <div class="form-group">
                <label for="constraint">Tag Constraint</label>
                <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="constraintHelp" name="constraint" id="constraint" value="<" required>
                </div>
                <small id="constraintHelp" class="form-text text-muted">Supports <code>"<", "=", "<=", "^", "~"</code>. For more details, refer to: <a href="https://devhints.io/semver">https://devhints.io/semver</a></small>
            </div>

            <div class="form-group">
                <label for="constraint">Set Values</label>
                <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="setHelp" name="set" id="set" {{ if ne .context.ReTag.To ""}}value="registry.hostname={{.context.ReTag.To}}"{{ end }}>
                </div>
                <small id="setHelp" class="form-text text-muted">Set values to overwrite <code>values.yaml</code> during cleaning up, values can be separated with commas: <code>a=b,c=d</code></small>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="force" id="force" value="true">
                    <label class="form-check-label" for="force">
                        Force
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" aria-describedby="dryRunHelp" name="dryRun" id="dryRun" value="true">
                    <label class="form-check-label" for="dryRun">
                        Dry Run
                    </label>
                </div>
                <small id="dryRunHelp" class="form-text text-muted">Simulate "for real", will not affect the real world</small>
            </div>

            <div class="form-group">
                <label for="registry">Timeout</label>
                <input type="text" class="form-control" aria-describedby="timeoutHelp" name="timeout" id="timeout" value="{{ .context.Global.Timeout }}" required>
                <small id="timeoutHelp" class="form-text text-muted">Supports units are <code>"ms", "s", "m", "h"</code></small>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="verbose" id="verbose" value="true">
                    <label class="form-check-label" for="verbose">
                        Verbose mode
                    </label>
                </div>
            </div>

            <button id="cleanup" url="/cleanup" type="submit" class="btn btn-outline-primary btn-block" >
                Fire in the hole
            </button>
        </form>
        </p>
        <hr>
        <div id="output_block" class="bg-dark console-output">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <i class="fa fa-terminal text-muted" aria-hidden="true"></i>
                </div>
            </div>
            <p>
            <pre id="output" class="text-light console-output-font"></pre>
            </p>
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1"></div>
                <div class="col-4 text-center"></div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-link" data-clipboard-target="#output">
                        <i class="fas fa-copy text-muted" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" class="text-muted"><i class="fas fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fab fa-github"></i></a> <a
                href="https://www.facebook.com/softleader" class="text-muted"><i class="fab fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>.
            All rights reserved.</p>
    </div>
</footer>

{{ template "tmp_script.html" . }}
<script src="static/clipboard.min.js"></script>
<script src="static/bootstrap-slider.min.js"></script>

<script>

    $(function () {
        new ClipboardJS('.btn');

        $("form").submit(function (event) {
            event.preventDefault();

            let $btns = $("button");
            $btns.prop('disabled', true);

            let $outputBlock = $('#output_block');
            let $output = $("#output");
            $output.empty();

            let formData = new FormData($('#dataForm')[0]);
            formData.append("ctx", $('#ctxList').find(":selected").attr("value"))

            $([document.documentElement, document.body]).animate({
                scrollTop: $output.offset().top
            }, 1000);

            fetch(event.target.action, {
                method: 'POST',
                body: formData,
            }).then(response => readSSE(response, {
                onNext(value) {
                    $output.append(value + '<br>');
                    $outputBlock.scrollTop($outputBlock[0].scrollHeight);
                },
                onComplete() {
                    $btns.prop('disabled', false);
                }
            })).catch(error => $output.append(error + '<br>'));

        });

        $(window).on('beforeunload', () => {
            if ($('form button:submit').is(':disabled')) {
                return "Are you sure you want to leave this page while cleanup?";
            }
        });
    })
</script>

</body>
</html>
