<!doctype html>
<html lang="en">
<head>
<base href="{{.config.BaseURL}}">
{{ template "tmp_head.html" }}
</head>
<body>
{{ template "tmp_navi.html" . }}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-6 order-md-2">
                <img class="img-fluid mb-3 mb-md-0" src="static/captainkube-01.svg" alt="">
            </div>
            <div class="col-md-6 order-md-1 text-center text-md-left">
                <p class="lead">
                    Install SoftLeader's products faster, more reliable and automatically on <a
                        href="https://kubernetes.io" class="text-dark">Kubernetes</a> with Captain Kube.
                </p>
                <div class="d-flex flex-column flex-md-row lead mb-3">
                    <a href="install/" class="btn btn-outline-primary mb-3 mb-md-0 mr-md-3">Get started</a>
                    <a href="https://github.com/softleader/captain-kube/wiki" class="btn btn-outline-secondary">Learn
                        more</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p>{{ .config.Metadata.String }}</p>
        <p>
            <a href="https://github.com/softleader" class="text-muted"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/softleader" class="text-muted"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>.
            All rights reserved.</p>
    </div>
</footer>

{{ template "tmp_script.html" . }}

</body>
</html>
