<!doctype html>
<html lang="en">
<head>
    <title>SoftLeader Captain Kube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/bootstrap-4.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/captain-kube">
        <img src="/captainkube-02.png"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Captain Kube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/staging">Staging</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/production">Production</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Script</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/script/pull">Pull</a>
                    <a class="dropdown-item" href="/script/retag">Retag</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-6 order-md-2">
                <img class="img-fluid mb-3 mb-md-0" src="/captainkube-01.svg" alt="">
            </div>
            <div class="col-md-6 order-md-1 text-center text-md-left">
                <p class="lead">
                    Deploy SoftLeader's projects faster, more reliable and automatically to <a href="https://kubernetes.io" class="text-dark">Kubernetes</a> with Captain Kube.
                </p>
                <div class="d-flex flex-column flex-md-row lead mb-3">
                    <a href="/staging" class="btn btn-outline-primary mb-3 mb-md-0 mr-md-3">Get started</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fab fa-github"></i></a> <a href="https://www.facebook.com/softleader" class="text-muted"><i class="fab fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>. All rights reserved.</p>
    </div>
</footer>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.0-dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
