<!doctype html>
<html lang="en">
<head>
<base href="{{.config.BaseURL}}">
{{ template "tmp_head.html" }}
</head>
<body>
{{ template "tmp_navi.html" . }}

<main role="main">
    <div class="container">
        <p>
        <form id="dataForm" action="install/">
            <div class="form-group">
                <label for="chart">Chart</label>
                <input type="file" class="form-control" name="files" required multiple>
            </div>

            <div class="form-group">
                <label for="tags">Pre-Procedures</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tags" value="p" id="tags-pull">
                    <label class="form-check-label" for="tags-pull">
                        Pull images in Chart
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tags" value="r" id="tags-retag">
                    <label class="form-check-label" for="tags-retag">
                        Retag images & Sync to install nodes
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="registry">Registry</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="sourceRegistry" id="sourceRegistry"
                           value="{{ .context.ReTag.From }}" disabled required>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <input type="text" class="form-control" name="registry" id="registry"
                           value="{{ .context.ReTag.To }}" disabled required>
                </div>
            </div>

            <div class="form-group">
                <label for="registry">Timeout (supports units are "ms", "s", "m", "h")</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="timeout" id="timeout" value="{{ .context.Global.Timeout }}" required>
                </div>
            </div>


            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="verbose" id="verbose" value="true">
                    <label class="form-check-label" for="verbose">
                        Verbose mode
                    </label>
                </div>
                <div class="form-check">
                    <input id="level" type="text"
                           data-provide="slider"
                           data-slider-ticks="[1, 2, 3, 4]"
                           data-slider-step="1"
                           data-slider-value="3"
                           data-slider-tooltip="hide"
                           data-slider-enabled="false">
                </div>
            </div>

            <button id="install" url="/install" type="submit" class="btn btn-outline-primary btn-block" >
                Fire in the hole
            </button>
        </form>
        </p>
        <hr>
        <div id="output_block" class="bg-dark console-output">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <i class="fa fa-terminal text-muted" aria-hidden="true"></i>
                </div>
            </div>
            <p>
            <pre id="output" class="text-light console-output-font"></pre>
            </p>
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1"></div>
                <div class="col-4 text-center"></div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-link" data-clipboard-target="#output">
                        <i class="fas fa-copy text-muted" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" class="text-muted"><i class="fas fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fab fa-github"></i></a> <a
                href="https://www.facebook.com/softleader" class="text-muted"><i class="fab fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>.
            All rights reserved.</p>
    </div>
</footer>

{{ template "tmp_script.html" . }}
<script src="static/clipboard.min.js"></script>
<script src="static/bootstrap-slider.min.js"></script>

<script>

    $(function () {
        new ClipboardJS('.btn');

        $("form").submit(function (event) {
            event.preventDefault();

            let $btns = $("button");
            $btns.prop('disabled', true);

            let $outputBlock = $('#output_block');
            let $output = $("#output");
            $output.empty();

            let formData = new FormData($('#dataForm')[0]);
            formData.append("ctx", $('#ctxList').find(":selected").attr("value"))

            $([document.documentElement, document.body]).animate({
                scrollTop: $output.offset().top
            }, 1000);

            fetch(event.target.action, {
                method: 'POST',
                body: formData,
            }).then(response => readSSE(response, {
                onNext(value) {
                    $output.append(value + '<br>');
                    $outputBlock.scrollTop($outputBlock[0].scrollHeight);
                },
                onComplete() {
                    $btns.prop('disabled', false);
                }
            })).catch(error => $output.append(error + '<br>'));

        });

        $(window).on('beforeunload', () => {
            if ($('form button:submit').is(':disabled')) {
                return "Are you sure you want to leave this page while install?";
            }
        });

        $("#tags-retag").on('click', () => {
            $('#registry').prop('disabled', (i, v) => !v);
            $('#sourceRegistry').prop('disabled', (i, v) => !v);
        });
    })
</script>

</body>
</html>
