<!doctype html>
<html lang="en">
<head>
    <title>Captain Kube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/bootstrap-4.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/captain-kube">
        <img src="/captainkube-02.png"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Captain Kube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/staging">Staging</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/release">Release</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/script/pull">Pull</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/script/retag">Retag</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container">
        <p>
        <form>
            <div class="form-group">
                <label for="chart">Chart</label>
                <input type="file" class="form-control" id="chart" required>
            </div>

            <button id="generate" url="/script/pull" type="submit" class="btn btn-outline-primary"
                    onclick="$(this).parent().attr('action', $(this).attr('url'))">
                <i class="fas fa-file-alt" aria-hidden="true"></i> Generate Script
            </button>
        </form>
        </p>
        <hr>
        <p>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fa fa-terminal" aria-hidden="true"></i></h4>
            <hr>
            <pre id="output"></pre>
        </div>
        </p>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#"><i class="fas fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader"><i class="fab fa-github"></i></a> <a href="https://www.facebook.com/softleader"><i class="fab fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw">SoftLeader Technology Crop</a>. All rights reserved.</p>
    </div>
</footer>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.0-dist/js/bootstrap.bundle.min.js"></script>

<script>

    $(function () {
        $("form").submit(function (event) {
            event.preventDefault();

            var $btns = $("button");
            $btns.prop('disabled', true);

            var $output = $("#output");
            $output.empty().parent().removeClass().addClass("alert alert-success")

            var formData = new FormData();
            formData.append('file', $('#chart')[0].files[0]);

            $.ajax({
                type: 'post',
                url: event.target.action,
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                xhrFields: {
                    onprogress: function (e) {
                        $output.text(e.currentTarget.response);
                    }
                }
            }).always(function () {
                $btns.prop('disabled', false);
                var dl = /generated\s(.+)$/gm.exec($output.text())
                if (dl) {
                    var $a = $("<a></a>").addClass("btn btn-outline-info").append("<i class=\"fa fa-download\" aria-hidden=\"true\"></i> Download");
                    $a.attr("href", "/script?file=" + dl[1]);
                    $a.click(function () {
                        $(this).remove();
                    })
                    $output.append($("<hr/>")).append($a);
                    return;
                }
            });
        });


        $(window).on('beforeunload', function () {
            if ($('#generate').is(':disabled')) {
                return "Are you sure you want to leave this page while drafting release?";
            }
            return;
        });

        $("#tags-retag").click(function () {
            $('#registry').prop('disabled', function (i, v) {
                return !v;
            });
            $('#source_registry').prop('disabled', function (i, v) {
                return !v;
            });
        });
    })
</script>

</body>
</html>
