<!doctype html>
<html lang="en">
<head>
    <title>Captain Kube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/captain-kube">
        <img src="captainkube-02.png"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Captain Kube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/staging">Staging</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/release">Release</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    Coming Soon...
</div>

<script src="fontawesome.js"></script>
<script src="jquery-3.3.1.slim.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>

<script>

    $(function () {
        $("form").submit(function (event) {
            event.preventDefault();

            var $btns = $("button");
            $btns.prop('disabled', true);

            var $output = $("#output");
            $output.empty().parent().removeClass().addClass("alert alert-success")
            var data = {
                "namespace": $("#namespace").val(),
                "version": $("#version").val(),
                "tags": $("#tags").val().split(",").map(s = > s.trim()
        ),
            "verbose"
        :
            $("#verbose").is(":checked")
        }

            var formData = new FormData();
            formData.append('file', $('#chart')[0].files[0]);

            $.ajax({
                type: 'post',
                url: event.target.action,
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                headers: {
                    "Captain-Kube": JSON.stringify(data)
                },
                xhrFields: {
                    onprogress: function (e) {
                        $output.text(e.currentTarget.response);
                    }
                }
            }).always(function () {
                $btns.prop('disabled', false);
            });
        });


        $(window).on('beforeunload', function () {
            if ($('#deploy').is(':disabled')) {
                return "Are you sure you want to leave this page while staging?";
            }
            return;
        });
    })
</script>

</body>
</html>
