<!doctype html>
<html lang="en">
<head>
    <title>SoftLeader Captain Kube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/bootstrap-4.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/softleader/captain-kube">
        <img src="/captainkube-02.png"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Captain Kube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/staging">Staging</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/production">Production</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Script</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/script/pull">Pull</a>
                    <a class="dropdown-item" href="/script/retag">Retag</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container">
        <p>
        <form>
            <div class="form-group">
                <label for="kind">Kind</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="kind" value="helm">
                        Google Helm
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="kind" value="icp" checked>
                        IBM Cloud Private
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="kind" value="openshift" disabled>
                        Red Hat OpenShift
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="namespace">Namespace</label>
                <input type="text" class="form-control" id="namespace" required>
            </div>

            <div class="form-group">
                <label for="chart">Chart</label>
                <input type="file" class="form-control" id="chart" required>
            </div>


            <div class="form-group">
                <label for="version">Version</label>
                <input type="text" class="form-control" id="version">
            </div>

            <div class="form-group">
                <label for="tags">Pre-Actions</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="pull" id="tags-pull">
                    <label class="form-check-label" for="tags-pull">
                        Pull Images
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="verbose">
                    <label class="form-check-label" for="verbose">
                        Verbose
                    </label>
                </div>
            </div>

            <button id="staging" url="/staging" type="submit" class="btn btn-outline-primary"
                    onclick="$(this).parent().attr('action', $(this).attr('url'))">
                <i class="fa fa-bomb" aria-hidden="true"></i> Fire in the hole
            </button>
        </form>
        </p>
        <hr>
        <p>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fa fa-terminal" aria-hidden="true"></i></h4>
            <hr>
            <pre id="output"></pre>
        </div>
        </p>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#" class="text-muted"><i class="fas fa-angle-double-up fa-2x"></i></a>
        </p>
        <p><a href="https://github.com/softleader" class="text-muted"><i class="fab fa-github"></i></a> <a href="https://www.facebook.com/softleader" class="text-muted"><i class="fab fa-facebook"></i></a></p>
        <p>Copyright © 2018 <a href="https://www.softleader.com.tw" class="text-muted">SoftLeader Technology Crop</a>. All rights reserved.</p>
    </div>
</footer>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.0-dist/js/bootstrap.bundle.min.js"></script>

<script>

    $(function () {
        $("form").submit(function (event) {
            event.preventDefault();

            var $btns = $("button");
            $btns.prop('disabled', true);

            var $output = $("#output");
            $output.empty().parent().removeClass().addClass("alert alert-success")
            var data = {
                "namespace": $("#namespace").val(),
                "version": $("#version").val(),
                "tags": [],
                "verbose": $("#verbose").is(":checked"),
            }

            $("input:checkbox[id^='tags-']:checked").each((i, e) => data.tags.push(e.value));
            data.tags.push($('input[name=kind]:checked').val());

            console.log(data)

            var formData = new FormData();
            formData.append('file', $('#chart')[0].files[0]);

            $.ajax({
                type: 'post',
                url: event.target.action,
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                headers: {
                    "Captain-Kube": JSON.stringify(data)
                },
                xhrFields: {
                    onprogress: function (e) {
                        $output.text(e.currentTarget.response);
                    }
                }
            }).always(function () {
                $btns.prop('disabled', false);
            });
        });


        $(window).on('beforeunload', function () {
            if ($('form button:submit').is(':disabled')) {
                return "Are you sure you want to leave this page while staging?";
            }
            return;
        });
    })
</script>

</body>
</html>
