<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="https://softleader.github.io/captain-kube/">
        <img src="/static/captainkube-02.png"
             width="30" height="30" class="d-inline-block align-top" alt="">
        Captain Kube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/install">Install</a>
            </li>
            {{/*<li class="nav-item">*/}}
                {{/*<a class="nav-link" href="/script">Script</a>*/}}
            {{/*</li>*/}}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Kubernetes@</div>
                </div>
                <input class="form-control" type="text" readonly="readonly" value="{{ .config.EndpointStr }}">
            </div>
        </form>
    </div>
</nav>
