<title>SoftLeader Captain Kube</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/bootstrap-4.1.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="static/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css">
<link rel="stylesheet" href="static/footer.css">
<link rel="stylesheet" href="static/index.css">
<link rel="stylesheet" href="static/template.css">